.HomeContainer{
    display: flex;
    padding: 20px;
}
.homeContent{
    flex: 5;
}

.Homeadds{
    flex: 2;
    background-color: rgb(218, 246, 246);
    border-radius: 20px;
    text-align: center;
    color:rgb(255, 255, 255);
    text-shadow: 3px 3px 30px rgb(0, 0, 0);
}

@media  (max-width:1000px) {
    .HomeContainer{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}