#iframe-container {
  width: 100%; /* Ancho deseado del área visible */
  height: 500px; /* Alto deseado del área visible */
  overflow: hidden; /* Ocultar el contenido fuera del área visible */
  position: relative; /* Permitir posicionar el iframe dentro del contenedor */
  overflow: hidden;
}

#iframe-container iframe {
  height: 60Vh; /* Alto total del contenido del iframe */
  width: 100vh;
  overflow: hidden;
}
