body{
    margin: 0px;
    border: 0px;
}
nav{
    background:linear-gradient(30deg, rgb(104, 104, 215), rgb(209, 58, 58));
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: aliceblue;
    text-shadow: 3px 3px 3px rgb(51, 0, 255);
    animation: textcolor 3s ease-in-out forwards infinite;
}

@keyframes textcolor {
    0%{
        text-shadow: 3px 3px 3px rgb(51, 0, 255);
    }
    50%{
        text-shadow: 3px 3px 3px rgb(255, 0, 4);
    }
    100%{
        text-shadow: 3px 3px 3px rgb(0, 255, 98);
    }
}